<div class="container mt-5">
    <div class="row d-flex justify-content-between">
        {{#each products}}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top img-responsive" src={{image}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">{{name}}</h5>
                    <p class="card-text">{{desc}}</p>
                    <a href="/store/{{id}}" id="{{id}}"class="btn btn-dark">Go to store</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>