{{!-- <div class="container my-5">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid store-img mx-auto d-block" src={{item.image}} alt="image cap">
            <h3 class="card-title text-capitalize">{{item.name}}</h3>
            <p class="text-alert fw-bold">${{item.price}}</p>
            <p class="">{{item.desc}}</p>
            <a href="#" id="{{item.id}}" class="btn btn-dark px-5">Buy</a>
        </div>
    </div>
</div>
</div> --}}


<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid store-img mx-auto d-block" src={{item.image}} alt="image cap">
        </div>
        <div class="col-6 ps-4">
            <h3 class="card-title text-capitalize">{{item.name}}</h3>
            <p class="text-alert fw-bold mt-3">${{item.price}}</p>
            <p class="my-3">{{item.desc}}</p>
            <a href="#" id="{{item.id}}" class="btn btn-dark px-5">Buy</a>
        </div>
    </div>
</div>
{{!-- </div> --}}